.body{
color:darkgrey;
}

.main-div{
    margin: auto;
    padding: 50px;
    align-items: center;
}

h2{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-top:  0;
}